<% include partials/header %>

<div class="ui main text container">
    <div class="ui huge header">
        RESTful Blog App
    </div>
    <div class="ui top attached segment">
        <div class="ui divided items">
          <%blogRet.forEach(function(bg) {%>
            <div class="item">
              <div class="image">
                  <img class="ui centered rounded image" src="<%=bg.image%>">
              </div>
              <div class="content">
                  <a class="header" href="/blogs/<%=bg._id%>"><%=bg.title%></a>
                  <div class="meta">
                      <span><%=bg.created.toDateString()%></span>
                  </div>
                  <div class="description">
                      <p class="ui centered"><%- bg.body.substring(0, 100) %>...</p>
                  </div>
                  <div class="extra">
                      <a class="ui floated basic violet button" href="/blogs/<%=bg._id%>">Read more<i class="right chevron icon"></i></a>
                  </div>
              </div>
            </div>
          <%});%>
        </div>
    </div>
</div>

<% include partials/footer %>
